@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;508;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #ca4686;
    --white-color: #6711a6;
    --disabled-color: #fff3;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #fffefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

header.active {
    animation: show-header 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-header {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.Logo {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
}

nav a {
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 3.5rem;
    transition: .5sec;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3rem;
    display: none;
}

.bars-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box .bar {
    width: 100%;
    height: 100%;
    background: #e8c2eb;
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes hide-bars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.bars-box.active .bar {
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}

.home-detail p {
    font-size: 2rem;
    margin: 1rem 0 1.5rem;
}

.home-detail .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci .sci {
    margin-left: 2rem;
}

.home-detail .btn-sci .sci a {
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: .5ren;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: .01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services-container .service-box {
    padding: 3rem 2.5rem;
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;
}

.services-container .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-box .icon i {
    font-size: 4.5rem;
    transition: .5s;
}

.service-box:hover .icon :not(a i) {
    color: var(--main-color);
}

.service-box .icon a {
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.service-box:hover .icon a {
    background: var(--main-color);
}

.service-box .icon a i {
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}

.service-box .icon a:hover i {
    transform: rotate(180deg);
}

.service-box h3 {
    font-size: 3rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}

.service-box:hover h3 {
    color: var(--main-color);
}

.service-box p {
    font-size: 1.6rem;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    font-size: 4.5rem;
}

.resume-box p {
    font-size: 1.6rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
    width: 100%;
    height: 5.3rem;
    border: .2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resume-box .resume-btn.active {
    border-color: #ff7fb5;
    color: #ff7fb5;
}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}

.resume-box .heading {
    font-size: 3.5rem;
    text-align: left;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.resume-list .resume-item {
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: var(--main-color);
}

.resume-item h3 {
    font-size: 2.2rem;
}

.resume-item .compay {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resume-item .compay::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}

.resume-detail.Skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
    height: auto;
    overflow: visible;
    font-size: 3.rem;
}

.resume-list {
    font-size: large;
}

.resume-detail.Skills .resume-item {
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.Skills .resume-item i {
    font-size: 10rem;
    transition: .5s;
}

.resume-detail.Skills .resume-item:hover i {
    color: var(--main-color);
}

.resume-detail.Skills .resume-item span {
    position: absolute;
    top: -20%;
    background: var(--white-color);
    color: var(--bg-color);
    font-size: 5.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resume-detail.Skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

.resume-detail.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-detail.about .resume-item {
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.about .resume-item p {
    color: var(--main-color);
}

.resume-detail.about .resume-item p span {
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 5.8rem;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-box {
    text-align: center;
}

.img-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.img-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.arrow-left,
.arrow-right {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.arrow-left i,
.arrow-right i {
    font-size: 1.5em;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    background-color: transparent;
    color: white;
}

.contact-box {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.contact-info {
    max-width: 45%;
}

.contact-info h2 {
    font-size: 3.5em;
    color: #fff;
}

.contact-info .desc {
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #aaa;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-detail i {
    font-size: 1.5rem;
    color: #4caf50;
    margin-right: 10px;
}

.contact-detail .detail p {
    margin: 0;
    font-size: 2.5rem;
}

.contact-form {
    max-width: 50%;
    background-color: var(--second-bg-color);
    padding: 30px;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact-form .field-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3c;
    color: white;
    font-size: 1em;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form .btn {
    display: var(--main-color);
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .btn:hover {
    background-color: #4ed703;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
}

@media screen and (max-width: 810px) {
    .contact-box .field-box {
        grid-template-columns: 1fr;
    }
}